body{
	margin: 0;
	font-family: system-ui;
}
.parallax{
	background-image: url(https://cdn.hipwallpaper.com/i/46/49/mIsukJ.jpg);
	height: max-content;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.page-title{
background:rgba(0,0,0,0.5);
text-align: center;
color: white;
padding: 50px;
font-variant: small-caps;
font-size: 100px;
font-family: fantasy;
letter-spacing: 20px;
}
.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}  
.menu{
	background:#184d57;
	text-align: center;
}
.menu-ul{
	margin: 0;
	padding: 0;
	display: inline;
}
.menu-ul li{
	font-size: 17px;
	list-style: none;
	display: inline-block;
	padding: 25px 25px 26px 25px ;
}
.a-menu, .a-links {
	text-decoration: none;
	color: white;
}
.menu-ul li:hover{
	background: :#5b8c5a;
	transform: scale(1.1);
}

.search-box{
	border: 1px solid white;
	border-radius:50px;
	background:white;
	width: max-content;
	display: inline-block;
	margin: 8px;

}
.search-box:hover{
	box-shadow: 0 0 10px 2px #5b8c5a;
	border: 1px solid #5b8c5a;
}
.search-input{
	width: 200px;
	border: none;
	outline: none;
	background:transparent;
	margin:10px 0 0 10px;
}
i{
	font-size: 20px;
	margin: 0 10px 0 0;
}
 
 button{

	background:transparent;
	border: none;
	outline: none;
}
.container, .deals-container{
	margin: 50px 50px 50px 5%;
	width: 90%;
	text-align: center;
}
.categories, .items{
	width: max-content;
	margin: 25px;
	border:1px solid #184d47;
	border-radius: 0 0 50px 50px;
	display: inline-block;          
}
.categories:hover, .items:hover{
	box-shadow: 0 0 10px 3px #184d47;
}
.item-image{
	height: 200px;
	width: 200px;
	border-radius: 0 0 50px 50px;
	padding: 10px;

}
.image-title{
	text-align: center;
	padding: 10px;
	font-weight: bold;
}
a{
	text-decoration:none;
}
.title{
	padding:50px;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 10px;
	color: white;
	background:rgba(0,0,0,0.5);
}
.deal{
	padding: 50px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	display: inline-block;
	margin: 20px;
	max-width: 20%;
	background:linear-gradient(100deg,#15617a 20%,#cef397 50%,#16807a 80%);

}
.coupon-btn{
	border:1px black;
	color: white;
	margin: 10px;
	padding: 10px;
	border-radius: 20px;
}
.coupon-btn:hover{
	box-shadow:  0 0 10px 5px white inset;
}
.images{
	display: inline-block;
}
.item-image-size{
	height: 200px;
	width: 300px;
	padding: 5px;
}
.description{
	margin: 20px;
	min-height: 100px;

}
.item-select{
	margin: 10px 0 0 0;

}
.buynow-btn{
	border:1px solid #184d47;
	background:#184d47;
	padding: 5px 15px;
	border-radius: 20px;
	font-weight: bold;
	margin-top: 10px;
	color: white;

}
.buynow-btn:hover{
	border: 1px solid #5b8c5a;
	box-shadow: 0 0 10px #5b8c5a  inset;
}
.a-links:hover{
	color:#fd5e53;
}
.copyrights{
	font-size: 16px;
	font-family: cursive;
	text-align: center;
	margin: 15px;
}